<a href="https://colab.research.google.com/github/Jahnavitalluri01/Big-Data/blob/main/BigDataAss1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
list1 = list(input("Enter the input string:"))
list1.remove('p')
list1.remove('o')
list1.reverse()
result = ''.join(list1)
print(result)

Enter the input string:python
nhty

In [22]:
x1=int(input("Enter First Number:"))
x2=int(input("Enter second Number:"))
add=x1+x2
sub=x1-x2
mul=x1*x2
div=x1/x2
print("Addition of x1 and x2:",add)
print("Subtraction of x1 and x2:",sub)
print("Multiplication of x1 and x2:",mul)
print("Deletion of x1 and x2:",div)

Enter First Number:20
Enter second Number:10
Addition of x1 and x2: 30
Subtraction of x1 and x2: 10
Multiplication of x1 and x2: 200
Deletion of x1 and x2: 2.0

In [23]:
sentence1 = input("Enter any sentence: ")

modifiedsentence1 = sentence1.replace("python", "pythons")


print(modifiedsentence1)

Enter any sentence: i have a class python
i have a class pythons

In [24]:
score = int(input("Enter your score: "))

if score >= 90:
    print("Your Grade is: A")
elif score >= 80:
    print("Your Grade is: B")
elif score >= 70:
    print("Your Grade is: C")
elif score >= 60:
    print("Your Grade is: D")
else:
    print("Your Grade is: F")

Enter your score: 75
Your Grade is: C

In [25]:
list2 = [23, 'Python', 23.98]
print(list2)
typesoflistitems = [type(i) for i in list2]
print(typesoflistitems)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [26]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [27]:
print("Length of IT_companies:", len(IT_companies))

Length of IT_companies: 7

In [28]:
IT_companies.add('Twitter')
print("After adding Twitter to set:", IT_companies)

After adding Twitter to set: {'Apple', 'Oracle', 'Facebook', 'Amazon', 'IBM', 'Microsoft', 'Twitter', 'Google'}

In [29]:
IT_companies.update(['Tesla', 'Adobe', 'Intel'])
print("After adding multiple companies to set:", IT_companies)

After adding multiple companies to set: {'Apple', 'Oracle', 'Microsoft', 'Adobe', 'Intel', 'Twitter', 'Google', 'Tesla', 'Facebook', 'Amazon', 'IBM'}

In [30]:
IT_companies.remove('IBM')
print("After removing IBM from set:", IT_companies)

After removing IBM from set: {'Apple', 'Oracle', 'Microsoft', 'Adobe', 'Intel', 'Twitter', 'Google', 'Tesla', 'Facebook', 'Amazon'}

In [11]:
IT_companies.discard('Sony')

In [31]:
IT_companies.remove('Sony')
# Discard will ignore if the element doesn't Exist but remove will raise Key Error

KeyError: 'Sony'

In [32]:
joinedset = A.union(B)
print("Join of A and B:", joinedset)

Join of A and B: {19, 20, 22, 24, 25, 26, 27, 28}

In [33]:
intersection = A.intersection(B)
print("Intersection of A and B:", intersection)

Intersection of A and B: {19, 20, 22, 24, 25, 26}

In [34]:
print("Is A subset of B:", A.issubset(B))

Is A subset of B: True

In [35]:
print("Are A and B disjoint:", A.isdisjoint(B))

Are A and B disjoint: False

In [36]:
print("A union B:", A.union(B))
print("B union A:", B.union(A))

A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}

In [37]:
sym_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", sym_diff)

Symmetric difference between A and B: {27, 28}

In [38]:
del A
del B

In [39]:
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of age list: 8
Length of age set: 5

In [ ]:
https://drive.google.com/file/d/1KMGTY6Re0-qjpYSksy7LP41yxfxbgNVA/view?usp=sharing
#Link of Video